body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}


.qt .cm {
    font-size: 30px;
    width: 100%;
    height: 50px;
    margin: 10px 0;
    
    padding : 30px;
    
    color: black;
    
    border-radius: 10px;
    
    transform: translate(5px ,-10px);
}


.qt .btn .haha{
    width: 300px;
    height: 50px;
    background:violet;
    border: none;
    outline: none;
    border-radius: 10px;
    color: white;
    font-size: 18px;
    cursor: pointer;
    padding: 10px;
    transform: translate(25px , 130px);
}
.qt .btn .haha:hover {
    background:hotpink;
}
 .btn .haha:active {
    background: deeppink;
}
.qt .lc .huhu{
    width: 300px;
    height: 50px;
    background:violet;
    border: none;
    outline: none;
    border-radius: 10px;
    color: white;
    font-size: 18px;
    cursor: pointer;
    padding: 10px;
    transform: translate(25px , 150px);
}
.qt .lc .huhu:hover {
    background:hotpink;
}
 .lc .huhu:active {
    background: deeppink;
}