.comment{
    font-size: 28px;
    width: 100%;
    height: 50px;
    margin: 10px 0;
    
    padding : 30px;
    
    color: black;
    
    border-radius: 10px;
    
    transform: translate(200px ,150px);
}